@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  background-color: #4fc2bc;
  border-radius: 10px;
}

html {
  height: 100%;
}

body {
  background-color: #303030;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  overflow: hidden;
  height: 100%;
  user-select: none;
}

body,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: #1d1d1d;
  display: flex;
  justify-content: space-evenly;
}

.header img {
  width: 80px;
  padding: 10px;
}

.message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.emotes {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: calc(100% - 110px);
  padding-top: 10px;
}

.emote {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
  box-sizing: border-box;
}

.emote-image-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.emote img {
  width: 50%;
}

.emote p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
