@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
}

body,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 400px;
  background-color: #303030;
  box-shadow: 0 0px 3px black;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s;
}

.header {
  background-color: #1d1d1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.header img {
  width: 80px;
  padding: 10px;
}

.header p {
  flex-grow: 1;
}

.emote-container {
  flex-grow: 1;
}

.emote {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.emote-image {
  width: 150px;
}
